
.onclick:hover {
    cursor: pointer;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Footer styling */
.footer {
    margin-top: auto; /* Pushes footer to the bottom */
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}